<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>168088285530-9vibh5iuidmsdghqu2qs77j4jj60pvsf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.168088285530-9vibh5iuidmsdghqu2qs77j4jj60pvsf</string>
	<key>API_KEY</key>
	<string>AIzaSyBf-SVbKZ1gcgIvrxOheKosleBfo9diT5U</string>
	<key>GCM_SENDER_ID</key>
	<string>168088285530</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.docendoChat</string>
	<key>PROJECT_ID</key>
	<string>docendo-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>docendo-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:168088285530:ios:b9e13cd510751b90ecc363</string>
</dict>
</plist>